link-core/src/main/resources/link/link-1.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.github.com/landyking/link"
           xmlns:lk="http://www.github.com/landyking/link"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:element name="directive">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:documentation><![CDATA[描述信息]]></xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="input">
                    <xs:annotation>
                        <xs:documentation><![CDATA[输入参数]]></xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="param" type="lk:inputParamType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="inputParamNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[输入参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:param"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="execution" type="lk:executionType">
                    <xs:unique name="subExecutionIdUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[执行器id必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="./*"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="executionEnding">
                    <xs:complexType>
                        <xs:attribute name="type" type="lk:needTextType"
                                      default="com.github.landyking.link.DefaultExecutionEnding"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="output">
                    <xs:annotation>
                        <xs:documentation><![CDATA[]]></xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="map" type="lk:outputCollectionType"/>
                            <xs:element name="list" type="lk:outputCollectionType"/>
                        </xs:choice>
                        <xs:attribute name="custom" type="xs:boolean" default="false"/>
                        <xs:attribute name="dataType" default="list">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="single"/>
                                    <xs:enumeration value="list"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                    <xs:unique name="outputUnderListParamNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[输出参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:list/lk:param"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                    <xs:unique name="outputUnderMapParamNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[输出参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:map/lk:param"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="resultRender">
                    <xs:complexType>
                        <xs:attribute name="type" type="lk:needTextType"
                                      default="com.github.landyking.link.resultRender.DefaultResultRender"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="dependencys">
                    <xs:annotation>
                        <xs:documentation><![CDATA[当前指令所依赖的其他指令，如果不填写，则无法进行内部指令调用]]></xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="dependency" type="lk:lineContentType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="paramType">
        <xs:sequence minOccurs="0">
            <xs:element name="processors" type="lk:paramProcessorsType"></xs:element>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="lk:needTextType">
            <xs:annotation>
                <xs:documentation><![CDATA[参数名，非空，唯一。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="desc" type="lk:needTextType">
            <xs:annotation>
                <xs:documentation><![CDATA[描述信息]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="inputParamType">
        <xs:complexContent>
            <xs:extension base="lk:paramType">
                <xs:attribute name="default" type="lk:needTextType">
                    <xs:annotation>
                        <xs:documentation><![CDATA[默认值。]]></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="notEmpty" type="xs:boolean" default="true">
                    <xs:annotation>
                        <xs:documentation><![CDATA[不允许为空，默认true。]]></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="outputParamType">
        <xs:complexContent>
            <xs:extension base="lk:paramType">
                <xs:attribute name="from" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            <![CDATA[输出项的内容来源：特定的数据库列或者表达式。可以为空。不设置时表示与name一直.为空时不取值.]]></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="paramProcessorsType">
        <xs:annotation>
            <xs:documentation><![CDATA[参数处理器列表]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="ExistCheck" type="lk:ExistCheckType"/>
                <xs:element name="DuplicateCheck" type="lk:DuplicateCheck"/>
                <xs:element name="GUIDGenerator" type="lk:GUIDGeneratorType"/>
                <xs:element name="DateTimeGenerator" type="lk:DateTimeGeneratorType"/>
                <xs:element name="AllToString" type="lk:AllToStringType"/>
                <xs:element name="QueryTranslator" type="lk:QueryTranslatorType"/>
                <xs:element name="DictTranslator" type="lk:DictTranslatorType"/>
                <xs:element name="TextToList" type="lk:TextToListType"/>
                <xs:element name="ListToText" type="lk:ListToTextType"/>
                <xs:element name="LikeParamGenerator" type="lk:LikeParamGeneratorType"/>
                <xs:element name="InputScriptProcessor" type="lk:InputScriptProcessorType"/>
                <xs:element name="OutputScriptProcessor" type="lk:OutputScriptProcessorType"/>
                <xs:element name="DateTimeConverter" type="lk:DateTimeConverterType"/>
                <xs:element name="AgeCalc" type="lk:AgeCalcType"/>
                <xs:element name="SqlLobProcessor" type="lk:SqlLobProcessorType"/>
                <xs:element name="JsonExpand" type="lk:JsonExpandType"/>
                <xs:element name="Custom" type="lk:paramProcessorCustomType">
                    <xs:unique name="customParamProcessorClassPropNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[自定义类中的参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:prop"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="executionType">
        <xs:annotation>
            <xs:documentation><![CDATA[指令实际执行内容，可以为一个操作序列]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="generate" type="lk:executionGenerateType">
                    <xs:unique name="executionGenerateVarNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[变量名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:var"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="custom" type="lk:executionCustomClassType">
                    <xs:unique name="customExecutionClassPropNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[自定义类中的参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:prop"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="script" type="lk:executionScriptType"/>
                <xs:element name="dbSql" type="lk:dbSqlType"/>
                <xs:element name="assertTrue" type="lk:assertTrueType"/>
                <xs:element name="dbDelete" type="lk:dbDeleteType"/>
                <xs:element name="dbInsert" type="lk:dbInsertType">
                    <xs:unique name="dbInsertColumnNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[自定义类中的参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:field"/>
                        <xs:field xpath="@column"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="dbUpdate" type="lk:dbUpdateType">
                    <xs:unique name="dbUpdateColumnNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[自定义类中的参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:field"/>
                        <xs:field xpath="@column"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="dbSelect" type="lk:dbSelectType"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="transactionDataSource" type="lk:needTextType"/>
    </xs:complexType>
    <xs:simpleType name="lineContentType">
        <xs:annotation>
            <xs:documentation><![CDATA[有内容的文本。且内容两边的空白会被移除，内部多个空白以及换行会被替换成一个空格。]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="needTextType">
        <xs:annotation>
            <xs:documentation><![CDATA[文本，不能为空]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\S+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="joinTypeType">
        <xs:annotation>
            <xs:documentation><![CDATA[SQL join类型]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="inner"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="dbFieldType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库字段]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subSql" type="lk:lineContentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[内部sql，比如子查询。]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="column" type="lk:needTextType"/>
        <xs:attribute name="desc" type="lk:needTextType">
            <xs:annotation>
                <xs:documentation><![CDATA[描述信息]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="dbSaveFieldType">
        <xs:complexContent>
            <xs:extension base="lk:dbFieldType">
                <xs:attribute name="from" type="lk:needTextType"/>
                <xs:attribute name="ignoreNull" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbQueryFieldType">
        <xs:complexContent>
            <xs:extension base="lk:dbFieldType">
                <xs:attribute name="tableAlias" type="lk:needTextType"/>
                <xs:attribute name="columnAlias" type="lk:needTextType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbInsertType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库插入操作。需指定表名和要插入的字段。]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractDbExecutionType">
                <xs:sequence>
                    <xs:element name="field" maxOccurs="unbounded" minOccurs="1">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="lk:dbSaveFieldType">
                                    <xs:attribute name="pk" type="xs:boolean" default="false"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="table" type="lk:lineContentType" minOccurs="1" maxOccurs="1">
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbDeleteType">
        <xs:annotation>
            <xs:documentation><![CDATA[从数据库删除某个表的数据。需要指定表名和过滤条件。]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractDbExecutionType">
                <xs:sequence>
                    <xs:element name="table" type="lk:lineContentType">
                    </xs:element>
                    <xs:element name="where" type="lk:lineContentType">
                        <xs:annotation>
                            <xs:documentation><![CDATA[删除过滤条件。防止删除全部，默认不能为空。]]></xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="assertTrueType">
        <xs:complexContent>
            <xs:extension base="lk:abstractExecutionType">
                <xs:attribute name="expression" type="lk:lineContentType" use="required"/>
                <xs:attribute name="message" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbUpdateType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库更新操作。需指定表名和要插入的字段以及过滤条件。]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractDbExecutionType">
                <xs:sequence>
                    <xs:element name="field" maxOccurs="unbounded" type="lk:dbSaveFieldType"/>
                    <xs:element name="table" type="lk:lineContentType">
                    </xs:element>
                    <xs:element name="where" type="lk:lineContentType">
                        <xs:annotation>
                            <xs:documentation><![CDATA[更新过滤条件。防止更新全部，默认不能为空。]]></xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbSelectFromType">
        <xs:sequence>
            <xs:element name="base" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="table" type="lk:needTextType" use="required"/>
                    <xs:attribute name="alias" type="lk:needTextType"/>
                    <xs:attribute name="prefix" type="lk:needTextType"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="join" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="on" type="lk:lineContentType" maxOccurs="1" minOccurs="1"/>
                    </xs:sequence>
                    <xs:attribute name="table" type="lk:needTextType" use="required"/>
                    <xs:attribute name="alias" type="lk:needTextType"/>
                    <xs:attribute name="prefix" type="lk:needTextType"/>
                    <xs:attribute name="type" type="lk:joinTypeType" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dbSelectType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库查询操作。需指定表名和要查询的字段以及过滤条件、排序条件等。]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractDbExecutionType">
                <xs:sequence>
                    <xs:element name="field" maxOccurs="unbounded" type="lk:dbQueryFieldType"/>
                    <xs:element name="from" type="lk:dbSelectFromType"/>
                    <xs:element name="where" type="lk:lineContentType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation><![CDATA[更新过滤条件。防止更新全部，默认不能为空。]]></xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="other" type="lk:lineContentType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attributeGroup ref="lk:pageAttributeGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbSqlType" mixed="true">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库操作。使用自定义sql。]]></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractDbExecutionType">
                <xs:attributeGroup ref="lk:pageAttributeGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="executionCustomClassType">
        <xs:annotation>
            <xs:documentation>自定义执行处理类</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractExecutionType">
                <xs:sequence>
                    <xs:element name="prop" type="lk:classPropType" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="className" type="lk:needTextType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="executionGenerateType">
        <xs:annotation>
            <xs:documentation>变量生成</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractExecutionType">
                <xs:sequence>
                    <xs:element name="var" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence minOccurs="0">
                                <xs:element name="processors" type="lk:paramProcessorsType"></xs:element>
                            </xs:sequence>
                            <xs:attribute name="name" use="required" type="lk:needTextType">
                                <xs:annotation>
                                    <xs:documentation><![CDATA[变量名，非空，唯一。]]></xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="from" type="lk:needTextType">
                                <xs:annotation>
                                    <xs:documentation><![CDATA[赋值表达式]]></xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:attributeGroup name="pageAttributeGroup">
        <xs:attribute name="pagination" type="xs:boolean" default="true"/>
        <xs:attribute name="countQuery" type="xs:boolean" default="true"/>
        <xs:attribute name="pageParamName" type="lk:needTextType" default="page">
            <xs:annotation>
                <xs:documentation>默认从第1页开始</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pageStartParamName" type="lk:needTextType" default="pageStart"/>
        <xs:attribute name="limitParamName" type="lk:needTextType" default="limit"/>
        <xs:attribute name="limitDefaultSize" type="xs:integer" default="15"/>
    </xs:attributeGroup>
    <xs:complexType name="classPropType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" type="lk:needTextType" use="required"/>
                <xs:attribute name="useExp" type="xs:boolean" default="false"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="paramProcessorCustomType">
        <xs:annotation>
            <xs:documentation>自定义参数处理器类</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:sequence>
                    <xs:element name="prop" type="lk:classPropType" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="className" type="lk:needTextType" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="abstractParamProcessorType" abstract="true">
    </xs:complexType>
    <xs:complexType name="abstractExecutionType" abstract="true">
        <xs:attribute name="test" type="lk:lineContentType"/>
        <xs:attribute name="id" type="lk:needTextType" use="required"/>
    </xs:complexType>
    <xs:complexType name="abstractDbExecutionType" abstract="true">
        <xs:complexContent>
            <xs:extension base="lk:abstractExecutionType">
                <xs:attribute name="dataSource" type="lk:needTextType" use="required"/>
                <xs:attribute name="transaction" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>是否启用事务</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GUIDGeneratorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:attribute name="type" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="snowflake"/>
                            <xs:enumeration value="uuid"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ExistCheckType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:choice>
                    <xs:element name="localDict">
                        <xs:complexType>
                            <xs:attribute name="name" use="required" type="lk:needTextType"/>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="countQuery">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="lk:lineContentType">
                                    <xs:attribute name="dataSource" use="required" type="lk:needTextType"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DuplicateCheck">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:choice>
                    <xs:element name="countQuery">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="lk:lineContentType">
                                    <xs:attribute name="dataSource" use="required" type="lk:needTextType"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DateTimeGeneratorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AllToStringType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QueryTranslatorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:sequence>
                    <xs:element name="where" type="lk:lineContentType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>额外的过滤条件</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="srcField" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>将被翻译的值所属字段</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="queryDataSource" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>翻译将要查询的数据源</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="table" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>翻译将要查询的数据表</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="destField" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>翻译使用数据表中对应的值字段</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="destFieldType" default="string">
                    <xs:annotation>
                        <xs:documentation>翻译使用数据表中对应的值字段类型</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="string"/>
                            <xs:enumeration value="int"/>
                            <xs:enumeration value="decimal"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="displayField" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>翻译使用数据表中翻译后显示的字段</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="failUseOriginal" type="xs:boolean" default="true"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DictTranslatorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:sequence>
                    <xs:element name="where" type="lk:lineContentType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>额外的过滤条件</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="srcField" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>将被翻译的值所属字段</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dict" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>字典名称</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="failUseOriginal" type="xs:boolean" default="true"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TextToListType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:attribute name="delimiter" default=","/>
                <xs:attribute name="destType" default="string">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="string"/>
                            <xs:enumeration value="long"/>
                            <xs:enumeration value="int"/>
                            <xs:enumeration value="integer"/>
                            <xs:enumeration value="float"/>
                            <xs:enumeration value="double"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ListToTextType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LikeParamGeneratorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:attribute name="position" default="both">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="left"/>
                            <xs:enumeration value="right"/>
                            <xs:enumeration value="both"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InputScriptProcessorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="OutputScriptProcessorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="DateTimeConverterType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType">
                <xs:attribute name="srcType" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="auto"/>
                            <xs:enumeration value="string"/>
                            <xs:enumeration value="long"/>
                            <xs:enumeration value="date"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="srcFmt" type="xs:string"/>
                <xs:attribute name="destType" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="string"/>
                            <xs:enumeration value="long"/>
                            <xs:enumeration value="date"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="destFmt" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AgeCalcType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SqlLobProcessorType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="JsonExpandType">
        <xs:complexContent>
            <xs:extension base="lk:abstractParamProcessorType"></xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="executionScriptType">
        <xs:complexContent>
            <xs:extension base="lk:abstractExecutionType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="outputCollectionType">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="param" type="lk:outputParamType"/>
                <xs:element name="map">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="lk:outputCollectionType"/>
                        </xs:complexContent>
                    </xs:complexType>
                    <xs:unique name="nestMapParamNameUnique">
                        <xs:selector xpath="lk:param"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="list">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="lk:outputCollectionType"/>
                        </xs:complexContent>
                    </xs:complexType>
                    <xs:unique name="nestListParamNameUnique">
                        <xs:selector xpath="lk:param"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="lk:needTextType" use="required"/>
        <xs:attribute name="from" type="lk:needTextType"/>
        <xs:attribute name="desc" type="lk:needTextType"/>
    </xs:complexType>
</xs:schema>