link-core/src/main/resources/link-1.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.github.com/landyking/link"
           xmlns:lk="http://www.github.com/landyking/link"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:element name="directive">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:documentation><![CDATA[描述信息]]></xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="input">
                    <xs:annotation>
                        <xs:documentation><![CDATA[]]></xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="param" type="lk:paramType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="inputParamNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[输入参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:param"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="execution" type="lk:executionType"/>
                <xs:element name="output">
                    <xs:annotation>
                        <xs:documentation><![CDATA[]]></xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="param" type="lk:outputParamType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="outputParamNameUnique">
                        <xs:annotation>
                            <xs:documentation><![CDATA[输出参数名字必须唯一]]></xs:documentation>
                        </xs:annotation>
                        <xs:selector xpath="lk:param"/>
                        <xs:field xpath="@name"/>
                    </xs:unique>
                </xs:element>
                <xs:element name="dependencys">
                    <xs:annotation>
                        <xs:documentation><![CDATA[当前指令所依赖的其他指令，如果不填写，则无法进行内部指令调用]]></xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="dependency" type="lk:lineContentType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="paramType">
        <xs:sequence minOccurs="0">
            <xs:element name="processors" type="lk:paramProcessorsType"></xs:element>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="lk:needTextType">
            <xs:annotation>
                <xs:documentation><![CDATA[参数名，非空，唯一。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="desc" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[描述信息]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="notEmpty" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation><![CDATA[不允许为空，默认true。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="default" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[默认值。与固定值二选一，固定值优先级高。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fixed" type="xs:string">
            <xs:annotation>
                <xs:documentation><![CDATA[固定值。与默认值二选一，固定值优先级高。]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>
    <xs:complexType name="outputParamType">
        <xs:complexContent>
            <xs:extension base="lk:paramType">
                <xs:attribute name="from" use="required" type="xs:string">
                    <xs:annotation>
                        <xs:documentation><![CDATA[输出项的内容来源：特定的数据库列或者表达式。可以为空。]]></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="paramProcessorsType">
        <xs:annotation>
            <xs:documentation><![CDATA[参数处理器列表]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="GUIDGenerator" type="xs:string"/>
                <xs:element name="DateTimeGenerator" type="xs:string"/>
                <xs:element name="AllToString" type="xs:string"/>
                <xs:element name="DefaultValueGenerator" type="xs:string"/>
                <xs:element name="QueryTranslator" type="xs:string"/>
                <xs:element name="DictTranslator" type="xs:string"/>
                <xs:element name="NotEmpty" type="xs:string"/>
                <xs:element name="TextToList" type="xs:string"/>
                <xs:element name="ListToText" type="xs:string"/>
                <xs:element name="LikeParamGenerator" type="xs:string"/>
                <xs:element name="InputScriptProcessor" type="xs:string"/>
                <xs:element name="OutputScriptProcessor" type="xs:string"/>
                <xs:element name="DateTimeConverter" type="xs:string"/>
                <xs:element name="AgeCalc" type="xs:string"/>
                <xs:element name="SqlLobProcessor" type="xs:string"/>
                <xs:element name="JsonExpand" type="xs:string"/>
                <xs:element name="CustomClass" type="xs:string"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="executionType">
        <xs:annotation>
            <xs:documentation><![CDATA[指令实际执行内容，可以为一个操作序列]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="dbSql" type="xs:string"/>
                <xs:element name="dbDelete" type="lk:dbDeleteType"/>
                <xs:element name="dbInsert" type="lk:dbInsertType"/>
                <xs:element name="dbUpdate" type="lk:dbUpdateType"/>
                <xs:element name="dbQuery" type="lk:dbSelectType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="lineContentType">
        <xs:annotation>
            <xs:documentation><![CDATA[有内容的文本。且内容两边的空白会被移除，内部多个空白以及换行会被替换成一个空格。]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="needTextType">
        <xs:annotation>
            <xs:documentation><![CDATA[文本，不能为空]]></xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\S+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="dbFieldType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库字段]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subSql" type="lk:lineContentType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[内部sql，比如子查询。]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="column" type="lk:needTextType"/>
        <xs:attribute name="desc" type="lk:needTextType">
            <xs:annotation>
                <xs:documentation><![CDATA[描述信息]]></xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="dbSaveFieldType">
        <xs:complexContent>
            <xs:extension base="lk:dbFieldType">
                <xs:attribute name="from" type="lk:needTextType"/>
                <xs:attribute name="ignoreNull" type="xs:boolean" default="true"/>
                <xs:attribute name="default" type="lk:needTextType">
                    <xs:annotation>
                        <xs:documentation><![CDATA[默认值。与固定值二选一，固定值优先级高。]]></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="fixed" type="lk:needTextType">
                    <xs:annotation>
                        <xs:documentation><![CDATA[固定值。与默认值二选一，固定值优先级高。]]></xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbQueryFieldType">
        <xs:complexContent>
            <xs:extension base="lk:dbFieldType">
                <xs:attribute name="tableAlias" type="lk:needTextType"/>
                <xs:attribute name="columnAlias" type="lk:needTextType"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="dbInsertType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库插入操作。需指定表名和要插入的字段。]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="field" maxOccurs="unbounded" type="lk:dbSaveFieldType"/>
            <xs:element name="table" type="lk:lineContentType">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dbDeleteType">
        <xs:annotation>
            <xs:documentation><![CDATA[从数据库删除某个表的数据。需要指定表名和过滤条件。]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="table" type="lk:lineContentType">
            </xs:element>
            <xs:element name="where" type="lk:lineContentType">
                <xs:annotation>
                    <xs:documentation><![CDATA[删除过滤条件。防止删除全部，默认不能为空。]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dbUpdateType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库更新操作。需指定表名和要插入的字段以及过滤条件。]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="field" maxOccurs="unbounded" type="lk:dbSaveFieldType"/>
            <xs:element name="table" type="lk:lineContentType">
            </xs:element>
            <xs:element name="where" type="lk:lineContentType">
                <xs:annotation>
                    <xs:documentation><![CDATA[更新过滤条件。防止更新全部，默认不能为空。]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dbQuerySelectType">
        <xs:sequence>
            <xs:element name="base">
                TODO
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dbSelectType">
        <xs:annotation>
            <xs:documentation><![CDATA[数据库查询操作。需指定表名和要查询的字段以及过滤条件、排序条件等。]]></xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="field" maxOccurs="unbounded" type="lk:dbQueryFieldType"/>
            <xs:element name="from" type="dbQuerySelectType"/>
            <xs:element name="where" type="lk:lineContentType">
                <xs:annotation>
                    <xs:documentation><![CDATA[更新过滤条件。防止更新全部，默认不能为空。]]></xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="groupBy" type="lk:lineContentType"/>
            <xs:element name="having" type="lk:lineContentType"/>
            <xs:element name="order" type="lk:lineContentType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>